* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

header {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  color: #58402c;
}

.navbar {
  height: 90px;
  width: 80%;
  line-height: 90px;
  border-bottom: 1px solid #58402c;
}

.navbar a {
  color: #58402c;
  text-decoration: none;
}

.navbar a:hover {
  color: #30488f;
}

.navbar_left {
  float: left;
}

.navbar_left a {
  font-size: 22px;
}

.navbar_right {
  float: right;
}

.navbar_right a {
  font-weight: 600;
  font-size: 14px;
}

.navbar .menu_item {
  display: inline-block;
  position: relative;
  margin: 0 20px;
}

.navbar .menu_item:last-child {
  margin-right: 0;
}

.navbar .menu_item .dropdown_menu {
  position: absolute;
  border-radius: 7px;
  border: 1px solid #58402c;
  line-height: 30px;
  padding: 5px 10px;
  top: 70px;
  z-index: 2;
  display: none;
}

.navbar #signUp {
  padding: 0 10px;
  height: 35px;
  font-size: 16px;
  border-radius: 7px;
  color: #30488f;
  background-color: white;
  border: 1px solid #30488f;
  display: inline-block;
}

.navbar #signUp:hover {
  color: white;
  background-color: #30488f;
}

