.navbar{
  height: 90px;
  width: 80%;
  line-height: 90px;
  border-bottom: 1px solid $coloreprincipale_Testi;
  img{
    height: 50%;
    transform: translate(-50%);
  }
  a{
    text-decoration: none;

    &:hover{
      color: $colorehover_Testi;
    }
  }
  &_left{
    float: left;
    width: 50%;
    text-align: left;
    a{
      font-size: $dimensione_PrincipaleTesti;
    }
  }
  &_right{
    float: right;
    text-align: right;
    width: 50%;

    a{
      font-weight: 600;
      font-size: 14px;
    }
    }
    .menu_item{
      display: inline-block;
      position: relative;
      margin: 0 20px;

      &:last-child{
        margin-right: 0;
      }
      .dropdown_menu{
        position: absolute;
        border-radius: 7px;
        border: 1px solid $coloreprincipale_Testi;
        line-height: 30px;
        padding: 5px 10px;
        top: 70px;
        z-index: 2;
        display: none;
        background-color: white;
        text-align: left;
      }
    }
    #signUp{
      padding: 0 10px;
      height: 35px;
      font-size: 16px;
      border-radius: 7px;
      color: $colorehover_Testi;
      background-color: white;
      border: 1px solid $colorehover_Testi;
      display: inline-block;

      &:hover{
        color: white;
        background-color: $colorehover_Testi;
      }
    }
  }
