.navbar{
  height: 90px;
  width: 80%;
  line-height: 90px;
  border-bottom: 1px solid $coloreprincipale_Testi;
  z-index: 1;
  background-color: white;

  img{
    height: 50%;
    transform: translateY(5px);
  }
  a{
    text-decoration: none;

    &:hover{
      color: $colorehover_Testi;
    }
  }
  &_left{
    float: left;
    width: 50%;
    text-align: left;
    a{
      font-size: $dimensione_PrincipaleTesti;
    }
  }
  &_right{
    float: right;
    text-align: right;
    width: 50%;

    a{
      font-weight: 600;
      font-size: 14px;
    }
    }
    .menu_item{
      display: inline-block;
      position: relative;
      margin: 0 20px;

      &:last-child{
        margin-right: 0;
      }
      .dropdown_menu{
        position: absolute;
        border-radius: 7px;
        border: 1px solid $coloreprincipale_Testi;
        line-height: 30px;
        padding: 5px 10px;
        top: 70px;
        z-index: 2;
        display: none;
        background-color: white;
        text-align: left;
      }
    }
    #signUp{
      padding: 0 10px;
      height: 35px;
      font-size: 16px;
      border-radius: 7px;
      color: $colorehover_Testi;
      background-color: white;
      border: 1px solid $colorehover_Testi;
      display: inline-block;
      font-weight: 600;

      &:hover{
        color: white;
        background-color: $colorehover_Testi;
      }
    }
  }
.container_Main{
  height: 550px;
  width: 80%;
  .mainLeft{
    width: 50%;
    float: left;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $coloreprincipale_Testi;

    .bigTitle{
      font-size: 45px;
    }
    p{
      margin: 35px 0;
      font-size: 20px;
    }
    .sign{
      margin-bottom: 20px;

      .signButton{
        background-color: $colorehover_Testi;
        color: white;
        padding: 10px;
        border-radius: 7px;
        width: 30%;
        &:hover{
          background-color: #233569;
        }
      }
      small{
        margin: 0 10px;
        color: #bdb5af;
      }
    }
  }
  .mainRight{
    width: 50%;
    position: relative;
    float: right;
    height: 100%;
    img{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      width: 90%;
    }
  }
}

.positionFixed{
  position: fixed;
}
